.skill-Obsidian {
  background-image: url('Skills/Skill_Obsidian.png');
}

.skill-Amber {
  background-image: url('Skills/Skill_Amber.png');
}

.skill-Pearl {
  background-image: url('Skills/Skill_Pearl.png');
}

.skill-Oceantears {
  background-image: url('Skills/Skill_Ocean tears.png');
}

.skill-Sapphire {
  background-image: url('Skills/Skill_Sapphire.png');
}

.skill-Turtle {
  background-image: url('Skills/Skill_Turtle.png');
}

.skill-Poseidonmedal {
  background-image: url('Skills/Skill_Poseidon medal.png');
}

.skill-Starfish {
  background-image: url('Skills/Skill_Starfish.png');
}

.skill-Frozenconch {
  background-image: url('Skills/Skill_Frozen conch.png');
}

.skill-Oceangem {
  background-image: url('Skills/Skill_Ocean gem.png');
}

.skill-Icegem {
  background-image: url('Skills/Skill_Ice gem.png');
}

.skill-Oceanlights {
  background-image: url('Skills/Skill_Ocean light.png');
}

.skill-Waves {
  background-image: url('Skills/Skill_Waves.png');
}

.skill-Oceanhorn {
  background-image: url('Skills/Skill_Ocean horn.png');
}

.skill-Ice-bluecoral {
  background-image: url('Skills/Skill_Ice-blue coral.png');
}

.skill-Actinia {
  background-image: url('Skills/Skill_Actinia.png');
}

.skill-Iceclaws {
  background-image: url('Skills/Skill_Ice claws.png');
}

.skill-Tentacles {
  background-image: url('Skills/Skill_Tentacles.png');
}

.skill-Magicalshells {
  background-image: url('Skills/Skill_Magical shells.png');
}

.skill-Flyingfeathers {
  background-image: url('Skills/Skill_Flying feathers.png');
}

.skill-Dreamwings {
  background-image: url('Skills/Skill_Dream wings.png');
}

.skill-Frozenwings {
  background-image: url('Skills/Skill_Frozen wings.png');
}

.skill-Whalewings {
  background-image: url('Skills/Skill_Whale wings.png');
}

.skill-Seahorsewings {
  background-image: url('Skills/Skill_Seahorse wings.png');
}

.skill-Oceanwings {
  background-image: url('Skills/Skill_Ocean wings.png');
}

.skill-Seasnail {
  background-image: url('Skills/Skill_Sea snail.png');
}

.skill-Icepick {
  background-image: url('Skills/Skill_Ice pick.png');
}

.skill-Underseamusic {
  background-image: url('Skills/Skill_Undersea music.png');
}

.skill-Anchor {
  background-image: url('Skills/Skill_Anchor.png');
}

.skill-Dreamgem {
  background-image: url('Skills/Skill_Dream gem.png');
}

.skill-Firewheels {
  background-image: url('Skills/Skill_Fire wheels.png');
}

.skill-Redpupils {
  background-image: url('Skills/Skill_Red pupils.png');
}

.skill-Burningheart {
  background-image: url('Skills/Skill_Burning heart.png');
}

.skill-Burningagate {
  background-image: url('Skills/Skill_Burning agate.png');
}

.skill-Blazingpupils {
  background-image: url('Skills/Skill_Blazing pupils.png');
}

.skill-Smallvolcanos {
  background-image: url('Skills/Skill_Small volcanoes.png');
}

.skill-Flamingstones {
  background-image: url('Skills/Skill_Flaming stones.png');
}

.skill-Flamingslate {
  background-image: url('Skills/Skill_Flaming slate.png');
}

.skill-Vulcantotem {
  background-image: url('Skills/Skill_Vulcan totem.png');
}

.skill-Blazingheart {
  background-image: url('Skills/Skill_Blazing heart.png');
}

.skill-Flint {
  background-image: url('Skills/Skill_Flint.png');
}

.skill-Flamestone {
  background-image: url('Skills/Skill_Flame stone.png');
}

.skill-Lava {
  background-image: url('Skills/Skill_Lava.png');
}

.skill-Flamecrystal {
  background-image: url('Skills/Skill_Flame crystal.png');
}

.skill-Burning-ax {
  background-image: url('Skills/Skill_Burning-ax.png');
}

.skill-Flamingwings {
  background-image: url('Skills/Skill_Flaming wings.png');
}

.skill-Lavarock {
  background-image: url('Skills/Skill_Lava rock.png');
}

.skill-Magmaslate {
  background-image: url('Skills/Skill_Magma slate.png');
}

.skill-Watermelon {
  background-image: url('Skills/Skill_Watermelon.png');
}

.skill-Fireblade {
  background-image: url('Skills/Skill_Fire blade.png');
}

.skill-Firewings {
  background-image: url('Skills/Skill_Fire wings.png');
}

.skill-Blastwings {
  background-image: url('Skills/Skill_Blast wings.png');
}

.skill-Infernosoulwings {
  background-image: url('Skills/Skill_Inferno soul wings.png');
}

.skill-Balefirewings {
  background-image: url('Skills/Skill_Balefire wings.png');
}

.skill-Crimsonwings {
  background-image: url('Skills/Skill_Crimson wings.png');
}

.skill-Hotstone {
  background-image: url('Skills/Skill_Hot stone.png');
}

.skill-Meteorite {
  background-image: url('Skills/Skill_Meteorite.png');
}

.skill-Flaminggrapes {
  background-image: url('Skills/Skill_Flaming grapes.png');
}

.skill-Redapple {
  background-image: url('Skills/Skill_Red apple.png');
}

.skill-Pitaya {
  background-image: url('Skills/Skill_Pitaya.png');
}

.skill-Blackgem {
  background-image: url('Skills/Skill_Black gem.png');
}

.skill-Shiitake {
  background-image: url('Skills/Skill_Shiitake.png');
}

.skill-Flush {
  background-image: url('Skills/Skill_Flush.png');
}

.skill-Diamondplaid {
  background-image: url('Skills/Skill_Diamond plaid.png');
}

.skill-Joy {
  background-image: url('Skills/Skill_Joy.png');
}

.skill-Pebbles {
  background-image: url('Skills/Skill_Pebbles.png');
}

.skill-Grayrocks {
  background-image: url('Skills/Skill_Gray rocks.png');
}

.skill-Band-Aids {
  background-image: url('Skills/Skill_Band-aids.png');
}

.skill-Entomolite {
  background-image: url('Skills/Skill_Entomolite.png');
}

.skill-Blackbeans {
  background-image: url('Skills/Skill_Black beans.png');
}

.skill-Earthenwall {
  background-image: url('Skills/Skill_Earthen wall.png');
}

.skill-Icecream {
  background-image: url('Skills/Skill_Ice cream.png');
}

.skill-Chocolateicecream {
  background-image: url('Skills/Skill_Chocolate ice cream.png');
}

.skill-Stonemushroom {
  background-image: url('Skills/Skill_Stone mushroom.png');
}

.skill-Stonehammer {
  background-image: url('Skills/Skill_Stone hammer.png');
}

.skill-Trefoilplate {
  background-image: url('Skills/Skill_Trefoil plate.png');
}

.skill-Fishbones {
  background-image: url('Skills/Skill_Fishbones.png');
}

.skill-Stonehands {
  background-image: url('Skills/Skill_Stone hands.png');
}

.skill-Pizza {
  background-image: url('Skills/Skill_Pizza.png');
}

.skill-Christmastrees {
  background-image: url('Skills/Skill_Christmas trees.png');
}

.skill-Rockwings {
  background-image: url('Skills/Skill_Rock wings.png');
}

.skill-Batwings {
  background-image: url('Skills/Skill_Bat wings.png');
}

.skill-Gargoylewings {
  background-image: url('Skills/Skill_Gargoyle wings.png');
}

.skill-Demonwings {
  background-image: url('Skills/Skill_Demon wings.png');
}

.skill-Guardianwings {
  background-image: url('Skills/Skill_Guardian wings.png');
}

.skill-Rockbomb {
  background-image: url('Skills/Skill_Rock bomb.png');
}

.skill-Pinecone {
  background-image: url('Skills/Skill_Pinecone.png');
}

.skill-Turtleshell {
  background-image: url('Skills/Skill_Turtle shell.png');
}

.skill-Seal {
  background-image: url('Skills/Skill_Seal.png');
}

.skill-Donut {
  background-image: url('Skills/Skill_Donut.png');
}

.skill-Hawkeye {
  background-image: url('Skills/Skill_Hawkeye.png');
}

.skill-Vine {
  background-image: url('Skills/Skill_Vine.png');
}

.skill-Iris {
  background-image: url('Skills/Skill_Iris.png');
}

.skill-leaf {
  background-image: url('Skills/Skill_Leaf.png');
}

.skill-Kiwi {
  background-image: url('Skills/Skill_Kiwi.png');
}

.skill-Bambooleaf {
  background-image: url('Skills/Skill_Bamboo leaf.png');
}

.skill-Periwinkle {
  background-image: url('Skills/Skill_Periwinkle.png');
}

.skill-Waterlotus {
  background-image: url('Skills/Skill_Water lotus.png');
}

.skill-Ladybug {
  background-image: url('Skills/Skill_Ladybug.png');
}

.skill-Petals {
  background-image: url('Skills/Skill_Petals.png');
}

.skill-Greenapple {
  background-image: url('Skills/Skill_Green apple.png');
}

.skill-Thorns {
  background-image: url('Skills/Skill_Thorns.png');
}

.skill-Bud {
  background-image: url('Skills/Skill_Bud.png');
}

.skill-Cactus {
  background-image: url('Skills/Skill_Cactus.png');
}

.skill-Fattymushroom {
  background-image: url('Skills/Skill_Fatty mushroom.png');
}

.skill-Evergreenleaves {
  background-image: url('Skills/Skill_Evergreen leaves.png');
}

.skill-Greenleaves {
  background-image: url('Skills/Skill_Green leaves.png');
}

.skill-Pea {
  background-image: url('Skills/Skill_Pea.png');
}

.skill-Lily {
  background-image: url('Skills/Skill_Lily.png');
}

.skill-Thorny {
  background-image: url('Skills/Skill_Thorny.png');
}

.skill-Dragonflywings {
  background-image: url('Skills/Skill_Dragonfly wings.png');
}

.skill-Colorfulwings {
  background-image: url('Skills/Skill_Colorful wings.png');
}

.skill-Stranglingwings {
  background-image: url('Skills/Skill_Strangling Wings.png');
}

.skill-Greenvineswings {
  background-image: url('Skills/Skill_Green vines wings.png');
}

.skill-Spotwings {
  background-image: url('Skills/Skill_Spot wings.png');
}

.skill-Shoots {
  background-image: url('Skills/Skill_Shoots.png');
}

.skill-Venusaur {
  background-image: url('Skills/Skill_Venusaur.png');
}

.skill-Springbud {
  background-image: url('Skills/Skill_Spring bud.png');
}

.skill-Tastymushroom {
  background-image: url('Skills/Skill_Tasty mushroom.png');
}

.skill-Carambola {
  background-image: url('Skills/Skill_Carambola.png');
}

.skill-Thunderstone {
  background-image: url('Skills/Skill_Thunder stone.png');
}

.skill-Viciouspupils {
  background-image: url('Skills/Skill_Vicious pupils.png');
}

.skill-Pentagonalbiscuit {
  background-image: url('Skills/Skill_Pentagonal biscuit.png');
}

.skill-Sparklingpupils {
  background-image: url('Skills/Skill_Sparkling pupils.png');
}

.skill-Lightningpupils {
  background-image: url('Skills/Skill_Lightning pupils.png');
}

.skill-Stabs {
  background-image: url('Skills/Skill_Stabs.png');
}

.skill-Ancestraltotems {
  background-image: url('Skills/Skill_Ancestral totems.png');
}

.skill-Ancientmedal {
  background-image: url('Skills/Skill_Ancient medal.png');
}

.skill-Star {
  background-image: url('Skills/Skill_Star.png');
}

.skill-Timetotem {
  background-image: url('Skills/Skill_Time totem.png');
}

.skill-Magicalhorn {
  background-image: url('Skills/Skill_Magical horn.png');
}

.skill-Lemon {
  background-image: url('Skills/Skill_Lemon.png');
}

.skill-Goldenhorn {
  background-image: url('Skills/Skill_Golden horn.png');
}

.skill-Cheese {
  background-image: url('Skills/Skill_Cheese.png');
}

.skill-Ophidiansteelplate {
  background-image: url('Skills/Skill_Ophidian steel plate.png');
}

.skill-Goldenfins {
  background-image: url('Skills/Skill_Golden fins.png');
}

.skill-Feathers {
  background-image: url('Skills/Skill_Feathers.png');
}

.skill-Plushears {
  background-image: url('Skills/Skill_Plush ears.png');
}

.skill-Lightfeathers {
  background-image: url('Skills/Skill_Light feathers.png');
}

.skill-Butterfly {
  background-image: url('Skills/Skill_Butterfly.png');
}

.skill-Fiercewings {
  background-image: url('Skills/Skill_Fierce wings.png');
}

.skill-Lightningwings {
  background-image: url('Skills/Skill_Lightning wings.png');
}

.skill-Sharpwings {
  background-image: url('Skills/Skill_Sharp wings.png');
}

.skill-Torchwings {
  background-image: url('Skills/Skill_Torch wings.png');
}

.skill-Deathwings {
  background-image: url('Skills/Skill_Death wings.png');
}

.skill-Lightningtail {
  background-image: url('Skills/Skill_Lightning tail.png');
}

.skill-Bomb {
  background-image: url('Skills/Skill_Bomb.png');
}

.skill-Bell {
  background-image: url('Skills/Skill_Bell.png');
}

.skill-Goldencheess {
  background-image: url('Skills/Skill_Golden cheese.png');
}

.skill-Thunderbomb {
  background-image: url('Skills/Skill_Thunder bomb.png');
}