* {
  font-family: Lato;
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
}

.brand-logo img {
  max-width: 120px;
}

.bg_overlay {
  background-color: RGBA(0, 0, 0, .2);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

#parallax {
  position: relative;
  background-attachment: fixed;
}

.content1,
.content2,
.content3,
.content4,
.content5 {
  display: inline-block;
  height: 100vh;
  width: 100%;
}

.content1 .container,
.content2 .container,
.content3 .container,
.content4 .container,
.content5 .container {
  height: 100vh;
}

.content1 {
  background-image:
    url('assets/Front.png'),
    url('assets/Mid.png'),
    url('assets/Back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-color: #221717;
}

.content3 {
  background-image: url('assets/Section.png');
  background-size: cover;
  background-attachment: fixed;
}

.content5 {
  background-image: url('assets/Logs.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.content2 {
  background-color: white;
}

.content4 {
  background-color: #6b6b6b;
}

.glass,
.glass:active,
.glass:focus {
  background-color: RGBA(255, 255, 255, .5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.appIcon {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.appIcon:hover,
#goToTop:hover {
  box-shadow: 0 10px 10px RGBA(0, 0, 0, .3);
}

.featureTitle {
  font-size: 50px;
  width: 100%;
}

.featureTitle a {
  color: black;
  font-weight: bold;
}

.featureTitle a:hover {
  text-decoration: underline;
}

.featureTitle i:not('featureIcon') {
  font-size: 70px;
}

.tab-panel {
  height: 300px;
  padding: 20px;
  margin-top: 70px;
  border-radius: 5px;
}

.tabs .tab {
  width: initial !important;
}

.content5 .col {
  padding: 0;
}

.content5 .row {
  width: 100%;
}

.content5 .tabs {
  border-radius: 5px;
}

#goToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
}