* {
  font-family: Lato;
}

a {
  color: white;
}

#toast-container {
  top: 10px;
  right: initial;
  left: calc(50% - 100px);
  max-width: 450px !important;
}

.brand-logo img {
  max-width: 120px;
}

.bg_overlay {
  background-color: RGBA(0, 0, 0, .2);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.no-mobile {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 2;
  background-color: white;
}

.side_bar {
  position: fixed;
  width: 200px;
  display: inline-block;
  background-color: RGBA(255, 255, 255, .5);
  height: 100vh;
  padding: 30px 0;
  text-align: center;
}

.main_content {
  padding: 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.pill {
  background-color: red;
  color: white;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 8px;
  vertical-align: top;
}

.dragon_number,
.dragon_tag {
  border-radius: 5px;
  min-width: 70px;
  text-align: center;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 2px 5px;
}

.dragon_showCase .card {
  border-radius: 10px !important;
  padding: 5px;
}

.dragon_showCase .card .card-reveal {
  padding: 18px;
}

.dragon_type-fire {
  background-color: #d58047;
}

.dragon_type-water {
  background-color: #44a3cf;
}

.dragon_type-storm {
  background-color: #53b372;
}

.dragon_type-rock {
  background-color: #926b59;
}

.dragon_type-thunder {
  background-color: #d5b32d;
}

.dragon_tab-genesis {
  background-color: #8247d5;
}

.dragon_tab-rare {
  background-color: #12b3a8;
}

@keyframes example {
  0% {
    background-color: red;
  }

  25% {
    background-color: yellow;
  }

  50% {
    background-color: blue;
  }

  100% {
    background-color: green;
  }
}

.dragon_tab-mystic {
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.dragon_tab-negative {
  background-color: #707a83;
}

.dragon_body {
  height: 350px;
  display: block;
}

.dragon_body .activator {
  height: 400px;
  width: 400px;
  left: 0;
  right: 0;
  background-size: 400px;
  position: absolute;
  margin: 0 auto;
}

.dragon_body-egg {
  height: 150px;
  width: 150px;
  right: 0;
  background-size: 150px;
  position: absolute;
  margin: 0 auto;
  background-repeat: no-repeat;
  display: block;
}

.link-out {
  display: inline-block;
  color: black;
}

.detail_section {
  border-bottom: 1px solid RGBA(0, 0, 0, 0.5);
  font-size: 20px;
  padding: 0 10px;
}

.categ_label {
  border-bottom: 1px solid RGBA(0, 0, 0, 0.5);
  font-size: 20px;
  padding: 0 10px;
  margin: 10px;
  text-align: left;
}

.card-reveal .detail_icon-inline.detail-icon,
.card-content .detail-icon {
  display: inline-block;
  margin-right: 15px;
}

.dragon_part-pill {
  background-color: RGBA(0, 0, 0, .7);
  padding: 2px 5px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px;
  width: 45px;
  display: inline-block;
  text-align: center;
  color: white;
  vertical-align: text-bottom;
  margin-right: 5px;
}

.parts-eye,
.parts-totem,
.parts-horn,
.parts-ear,
.parts-wing,
.parts-tail {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: 30px;
}

.skill_stats {
  border: 3px solid white !important;
  line-height: initial !important;
  position: absolute !important;
}

.skill_stats p {
  margin: initial;
  font-weight: bold;
}

.skill_stats-energy {
  left: -10px;
  top: -10px;
}

.skill_stats-damage {
  top: 140px;
  border-radius: 0 20px !important;
}

.skill_stats-damage-bg {
  top: 160px;
  height: 20px;
  left: -10px;
  width: 50px;
  z-index: 0;
  border-radius: 0 30px;
}

.skill_stats-shield {
  right: 0;
  top: 140px;
  border-radius: 20px 0 !important;
}

.skill_stats-shield-bg {
  top: 160px;
  height: 20px;
  right: -10px;
  width: 50px;
  z-index: 0;
  border-radius: 30px 0;
}

.dragon_skill1-level,
.dragon_skill2-level,
.dragon_skill3-level,
.dragon_skill4-level {
  text-align: center;
  text-shadow: 0 0 2px white, 0 0 2px black;
}

.dragon_skill-title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.skill_spacer {
  margin-top: 20px;
}

.dragon_skill-part1,
.dragon_skill-part2,
.dragon_skill-part3,
.dragon_skill-part4,
.partMutation {
  margin-bottom: 10px !important;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
}

.partMutation {
  margin-bottom: initial !important;
}

.dragon_card {
  border-radius: 10px !important;
}

.dragon_card-content1,
.dragon_card-content2,
.dragon_card-content3,
.dragon_card-content4 {
  padding: 10px !important;
  border-radius: 10px;
  border: 5px solid white;
  border-radius: 10px !important;
  height: 150px;
}

.dragon_card-contentFire {
  background: rgb(213, 128, 71);
  background: linear-gradient(0deg, rgba(213, 128, 71, 1) 0%, rgba(213, 128, 71, 0) 35%);
}

.dragon_card-contentWater {
  background: rgb(68, 163, 207);
  background: linear-gradient(0deg, rgba(68, 163, 207, 1) 0%, rgba(68, 163, 207, 0) 35%);
}

.dragon_card-contentStorm {
  background: rgb(83, 179, 114);
  background: linear-gradient(0deg, rgba(83, 179, 114, 1) 0%, rgba(83, 179, 114, 0) 35%);
}

.dragon_card-contentRock {
  background: rgb(146, 107, 89);
  background: linear-gradient(0deg, rgba(146, 107, 89, 1) 0%, rgba(146, 107, 89, 0) 35%);
}

.dragon_card-contentThunder {
  background: rgb(213, 179, 45);
  background: linear-gradient(0deg, rgba(213, 179, 45, 1) 0%, rgba(213, 179, 45, 0) 35%);
}

.skill_stats-type {
  height: 20px;
  width: 20px;
  border: 2px solid white !important;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -7px;
}

.skill_stats-type div {
  height: 40px;
}

.dragon_skill1-typeFire,
.dragon_skill2-typeFire,
.dragon_skill3-typeFire,
.dragon_skill4-typeFire {
  background-image: url('../assets/type_Fire.png');
  background-size: 16px;
}

.dragon_skill1-typeWater,
.dragon_skill2-typeWater,
.dragon_skill3-typeWater,
.dragon_skill4-typeWater {
  background-image: url('../assets/type_Water.png');
  background-size: 16px;
}

.dragon_skill1-typeStorm,
.dragon_skill2-typeStorm,
.dragon_skill3-typeStorm,
.dragon_skill4-typeStorm {
  background-image: url('../assets/type_Storm.png');
  background-size: 16px;
}

.dragon_skill1-typeRock,
.dragon_skill2-typeRock,
.dragon_skill3-typeRock,
.dragon_skill4-typeRock {
  background-image: url('../assets/type_Rock.png');
  background-size: 16px;
}

.dragon_skill1-typeThunder,
.dragon_skill2-typeThunder,
.dragon_skill3-typeThunder,
.dragon_skill4-typeThunder {
  background-image: url('../assets/type_Thunder.png');
  background-size: 16px;
}

.upgradeTable .green-text {
  font-size: 18px;
}

.dragon_body.dragon_Father .activator,
.dragon_body.dragon_Mother .activator,
.dragon_body.dragon_Child .activator {
  background-size: 120px;
  height: 120px;
  width: 120px;
  margin: initial;
  left: initial;
  right: initial;
}

.dragon_body.dragon_Father .activator {
  left: calc(25% - 60px);
  right: calc(25% - 60px);
}

.dragon_body.dragon_Mother .activator {
  left: calc(75% - 60px);
  right: calc(75% - 60px);
}

.dragon_body.dragon_Mother {
  border: 1px solid rgb(143, 0, 76);
}

.dragon_body.dragon_Father {
  border: 1px solid rgb(0, 69, 143);
}

.dragon_body.dragon_Child {
  border: 1px solid rgb(80, 80, 80);
}

.dragon_body.dragon_Father,
.dragon_body.dragon_Mother,
.dragon_body.dragon_Child {
  width: 120px;
  height: 140px;
  display: inline-block;
  border-radius: 5px;
  border-bottom-width: 5px;
}

.dragon_body.dragon_Father,
.dragon_body.dragon_Mother {
  width: calc((100% - 3px) / 2);
}

.dragon_parent .dragonNo,
.dragon_children .dragonNo {
  display: inline-block;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-weight: bold;
  margin: 0;
  margin-left: 3px;
  font-size: 12px;
}

.dragon_parent .link-out,
.dragon_children .link-out {
  display: none;
}

.dragon_parent .dragon_body:hover .link-out,
.dragon_children .dragon_body:hover .link-out {
  display: block;
}

.dragon_parent,
.dragon_children {
  display: inline-block;
  width: 100%;
}

.dragon_children {
  margin: 3px 0;
}

.dragon_children .dragon_body {
  margin: 3px;
}

.dragon_children .dragon_body:first-child {
  margin-left: 0;
}

.dragon_children .dragon_body:last-child {
  margin-right: 0;
}

.dragon_hiddenSection {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: RGB(240, 240, 240);
  padding: 20px 10px;
  cursor: pointer;
}

.dragon_bloodLine .detail_section {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin: 10px 20px;
}

.noBottomMargin {
  margin-bottom: 0;
}

.dragon_bloodLineToggle {
  margin-top: 20px;
}